# Decision Making
Decision making in python is done using conditional statements to control the flow of execution of program

## if statement
Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, if false it will move to next block of code.

```
#syntax of if statement
if test expression:
   statement 1
   ....
   statement n
```

In [ ]:
a = 5

if a < 10:
    print(a,"is Smaller")
else:
    print(a,"is Bigger")

In [4]:
## Write a Conditional Statement with True in if statement 
if True:
    print("if Statement get executated")
else:
    print("else Statement get executated")

if Statement get executated

In [3]:
## Write a Conditional Statement with False in if statement 
if True:
    print("if Statement get executated")
else:
    print("else Statement get executated")

if Statement get executated

In [1]:
## Write a Conditional Statement with 1 in if statement 
if 1:
    print("if Statement get executated")
else:
    print("else Statement get executated")

if Statement get executated

In [1]:
## Write a Conditional Statement with 0 in if statement 
if 0:
    print("if Statement get executated")
else:
    print("else Statement get executated")

else Statement get executated

In [ ]:
## Write a Conditional Statement with -1 in if statement 
if -1:
    print("if Statement get executated")
else:
    print("else Statement get executated")

If statement gets executed

In [6]:
## Write a Conditional Statement to check if 60 is greater than 50
if 60>50:
    print("60 is greater than 50")
else:
    print("60 is lesser than 50")

60 is greater than 50

In [8]:
# check if variable a which is of integer 60 is greater than variable b which is of 50
a = 60 
b = 50 
if a>b:
    print("A is greater than B")
else:
    print("A is lesser than B")

A is greater than B

In [7]:
# check if variable a which is of integer 60 is greater than variable b which is of 150
a = 60 
b = 150
if a>b:
    print("A is greater than B")
else:
    print("A is lesser than B")

A is lesser than B

In [3]:
## From the list if 10 is part of it
l = [10, 20, 30, 'Relevel']

if (10 in l):
    print("10 is part of list")
else:
    print("10 is not part of list")

10 is part of list

In [2]:
## Check if 'Maharashtra' is in the Dict
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}

if ('Maharashtra' in cities):
    print("'Maharashtra' is in the Dict")
else:
    print("'Maharashtra' is not in the Dict")

'Maharashtra' is in the Dict

## If else statement

Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, if false it will execute else block of statement.



```
#syntax of if else statement
if test expression:
  condition 1
  ....
  condition n
else:
  condition 1
  ....
  condition n
```

In [ ]:
# Check if the price is less than 50
price = 100
if(price<=50):
    print("price is less than 50")
else:
    print("price is more than 50")

price is more than or equal to 50

In [ ]:
## From the list if 10 is part of it else print that it does not exist
l = [10, 20, 30, 'Relevel']

List does not have 100 value

In [ ]:
## Check if 'Maharashtra' is in the Dict else print that it does not exist
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}

Could not find Mumbai in the dict keys

## Nested if else Statement

Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, othwerwise it will move to next block of elif statements till one of the elif condition is met.



```
#syntax of nested if-else statement
if test expression:
  condition 1
  ....
  condition n
elif:
  condition 1
  ....
elif:
  condition 1
  ...
else:
  condition 1
  ...
```

In [4]:
# Find that given integer is positive, negative or Zero.
number = -2

if (number < 0):
    print("Number is Negative")
elif (number > 0):
    print("Number is Positive")
else:
    print("Number is Zero")

Number is Negative

In [5]:
## From the list if 100, 'relevel', 'Relevel' is part of it else print that it does not exist
l = [10, 20, 30, 'Relevel']
if 100 in l:
    print("100 is part of list")
elif "relevel" in l:
    print("relevel is part of list")
elif "Relevel" in l:
    print("relevel is part of list")
else:
    print("does not exist")

relevel is part of list

```
if ( test condition 1):
    # If test condition 1 is TRUE, then it checks for test condition 2
    if ( test condition 2):
         # If test condition 2 is TRUE, then these true lines executed
         Test condition 2 True statements
    else:
         # If test condition 2 is FALSE, then these false lines executed
         Test condition 2 False statements
else:
    # If test condition 1 is FALSE, then these lines executed
    Test condition 1 False lines
```

In [17]:
# Example for Python Nested If

age = int(input(" Please Enter Your Age Here:  "))

 Please Enter Your Age Here:  25

In [9]:
input()

'pop'

In [6]:
a = input()
int(a)

8

In [8]:
a = int(input("Enter a number = "))
print(a)

23

In [18]:
age = int(input("Enter your age = "))

if(age<18):
    print("You are a minor")
elif(age>18 and age<60):
    print("You are a adult")
elif(age>60):
    print("you are a senior citizen")
else:
    print("invalid age")

Enter your age = 25
You are a adult

# Loops and Iterations
Loops statements help to iterate over a block of code using a condition or iterable object.

## For Loop
For loop is used to iterate over an iterable object like list, string, tuple, sets etc.



```
#syntax of for loop
for [item] in [iterable object]:
  statement 1
  ...
  statement n
```

In [1]:
l = [10,20,30,40,50]

In [4]:
for i in l:
    print(i)

10
20
30
40
50

In [6]:
for i in range(0,len(l)):
    print(i,l[i])

0 10
1 20
2 30
3 40
4 50

In [11]:
## Sum all the values of the list

l = [5, 1, 7, 3]

# Method 1
print("sum is ",sum(l))

sum is  16

In [12]:
## Sum all the values of the list using For Loop

l = [5, 1, 7, 3]
sum = 0

for i in l:
    sum = sum + i

print("Sum is ",sum)

Sum is  16

In [13]:
#print all the letters one by one in the word Relevel

for i in "Relevel":
    print(i)

R
e
l
e
v
e
l

In [16]:
# Iterate all the values of the states from the Dict
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}

for i in cities.values():
    print(i)

Mumbai
Chennai
Jaipur
Chandigarh
Chandigarh

In [15]:
# Iterate all the values of the states and cities from the Dict
for i in cities.items():
    print(i)

('Maharashtra', 'Mumbai')
('Tamil Nadu', 'Chennai')
('Rajasthan', 'Jaipur')
('Punjab', 'Chandigarh')
('Haryana', 'Chandigarh')

In [20]:
# Iterate all the values of the states and cities from the Dict. Extract Key and Value seperately

for i,j in cities.items():
    print("Key is",i, "and Value is",j)

Key is Maharashtra and Value is Mumbai
Key is Tamil Nadu and Value is Chennai
Key is Rajasthan and Value is Jaipur
Key is Punjab and Value is Chandigarh
Key is Haryana and Value is Chandigarh

In [26]:
## Check if Nest_dict has a key "Key_1"
Dummy_Dict = {'Key1': 'Value 1', 'Nested_dict': {'Key_1': 'V1', 'Key2': 2}, 'List_Values': [0, 1, 2, 3, 4]}

for key,value in Dummy_Dict.items():
    if key == 'Nested_dict':
        if "Key_1" in value:
            print("Key_1 is present")
        else:
            print("Not present")

Key_1 is present

In [27]:
# Iterate all the values of the tuple
t = (10, 20, 30, 'Relevel')

for i in t:
    print(i)

10
20
30
Relevel

In [29]:
# Print the value from 1 to 10 using range function in for loop
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [31]:
## Iterate following list as a set variable
l = [1,2,2,3,3,4]
set_var = set(l)

for i in set_var:
    print(i)

1
2
3
4

## While Loop
While loop will execute the given block of code till the entered test condition is true



```
# syntax for while loop
While [condition true]:
      statement 1
      ...
      statement n
```

In [32]:
x = 10 

while x < 5:
    x = x -1
    print(x)

In [33]:
x = 10 

while x < 15:
    x = x + 1
    print(x)

11
12
13
14
15

In [35]:
# print all integer from 1 to 5

number = 1 
while number <= 5:
    print(number)
    number = number + 1

1
2
3
4
5

Write a program to sum natural numbers up to n. <br>
```sum = 1+2+3+...+n```

In [54]:
# Write a program to sum natural numbers up to n.
# sum = 1+2+3+...+n

n = 100

# initialize sum and counter
sum = 0
i = 1

while i<=n:
    sum = sum + i
    i = i + 1

print("Sum of",n,"integers is",sum)

Sum of 100 integers is 5050

## Nested loops

Multiple For loops, while loops or combination of for loop and while loops are allowed to used in Python



```
#syntax for sample nested for loops
# outer for loop
for [item] in [iterable object]: 
   # inner for loop
   for [item] in [iterable object]:
       block of code for inner for loop
   block of code for outer for loop
```

In [57]:
# print the multiplication table till 5 for each item in elements list
number = [1,2,3,4,5]
elements = [5,10]

for i in number:
    print("Outer loop",i)
    for j in elements:
        print("Inner loop",j)

Outer loop 1
Inner loop 5
Inner loop 10
Outer loop 2
Inner loop 5
Inner loop 10
Outer loop 3
Inner loop 5
Inner loop 10
Outer loop 4
Inner loop 5
Inner loop 10
Outer loop 5
Inner loop 5
Inner loop 10

In [59]:
# print the multiplication table till 5 for each item in elements list
number = [1,2,3,4,5]
elements = [5,10]

for i in elements:
    print("****** Multiply",i,"with integer from 1 to 5")
    for j in number:
        print(i,"X",j,"=",i*j)

****** Multiply 5 with integer from 1 to 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
****** Multiply 10 with integer from 1 to 5
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50

In [ ]:
# print the multiplication table till 5 for each item in elements list
number = [1,2,3,4,5]
elements = [5,10]

*****multiply  5  with integer from 1 to 5
5
20
15
30
25
*****multiply  10  with integer from 1 to 5
10
40
30
60
50

# Loop control Statement
Loop control statements are used to skip over an iteration or terminate the execution of the Loop without iteration over the whole sequence.

## Continue Statement
continue keyword ends and rejects all the remaining statements for the current iteration and moves to the next iteration in the loop.

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
for i in range(1,6):
    if i==4:
        break
    print(i)

1
2
3

In [3]:
for i in range(1,6):
    if i==4:
        continue
    print(i)

1
2
3
5

In [4]:
for i in range(1,6):
    if i==4:
        pass
    print(i)

1
2
3
4
5

In [61]:
# Print all the letters in word Relevel except letter "l"

for i in "Relevel":
    if 'l' == i:
        continue
    print(i)

R
e
e
v
e

## Pass statement
Pass statement acts as a null statement and used as a placeholder for peice of code to be written in future

In [ ]:
# print all the letters in the word Relevel except letter "l" using pass statement
word = "Relevel"
for i in word:
    if 'l' == i:
        pass
    print(i)

Current Letter : R
Current Letter : e
Current Letter : e
Current Letter : v
Current Letter : e

## Break Statement
Break statement helps to exit the loop from the current running iteration

In [5]:
#Display numbers in given list before number 10
seq = [2,4,20, 14, 10, 29, 33,7]

for i in seq:
    if i == 10:
        break
    print(i)

2
4
20
14