# List Comprehension

List comprehension allows shorter way of writing a for loop



```
#Syntax for list comprehension
newList = [ expression(element) for element in oldList ] 
```

In [2]:
## Iterate from 0 to 14 using for and range function
l = []
for i in range(15):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [1]:
## Iterate from 0 to 14 using list comprehension
list = [i for i in range(15)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
a = int(input("Enter a number = "))
list = [i*a for i in range(1,11)]
print(list)

Enter a number = 9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

List comprehension allows shorter way of writing a for loop



```
#Syntax for list comprehension
newList = [ expression(element) for element in oldList if condition ] 
```

### Conditionals in list comprehension

In [5]:
## Iterate from 0 to 14 using for and range function. Print only odd numbers
l = []
for i in range(0,15):
    if(i%2==1):
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13]

In [6]:
list = [i for i in range(15) if i%2==1]
print(list)

[1, 3, 5, 7, 9, 11, 13]

In [7]:
#Print all odd natural numbers till 13 using conditional list comprehension
list = [i for i in range(14) if i%2==1]
print(list)

[1, 3, 5, 7, 9, 11, 13]

### Performance comparison : List comprehension Vs For loop

List comprehension is more efficient than for loop in terms of time and space.

In [8]:
#comparison of time difference between execution of list comprehension and for loop
import time
start_time = time.time()
for_list = []
for i in range(1000000):
    for_list.append(i*i)
print("time of execution using for loop :  %s seconds" % (time.time() - start_time))

current_time = time.time()
comp_list = [i*i for i in range(1000000)]
print("time of execution using list comprehension :  %s seconds" % (time.time() - current_time))

time of execution using for loop :  0.21158623695373535 seconds
time of execution using list comprehension :  0.11261940002441406 seconds

We can see from above example that list comprehension took almost half time for execution as compared to for loop for performing the same **task**

# Dict Comprehension

In [12]:
#item price in dollars
dollar_price = {'mic': 11.02, 'speaker': 12.5, 'headphones': 22.5}

dollar_to_inr = 79.43

In [13]:
# Item price in inr for all the dict items using For loop
new_dict ={}

for key,value in dollar_price.items():
    new_dict.update({key : value*dollar_to_inr})
print(new_dict)

{'mic': 875.3186000000001, 'speaker': 992.8750000000001, 'headphones': 1787.1750000000002}

In [22]:
# Item price in inr for all the dict items using Dict Comprehension

{key:value*dollar_to_inr for key,value in dollar_price.items()}

{'mic': 875.3186000000001,
 'speaker': 992.8750000000001,
 'headphones': 1787.1750000000002}

### Conditionals in Dict Comprehension

In [28]:
## From the below Dict filter the names whoes age is more than 40
citi_age = {'Ramesh ': 38, 'Veer': 48, 'Aakruti': 57, 'Meneka': 33}

# {action forloop ifCondition}
{name:age for name,age in citi_age.items() if age>40}

{'Veer': 48, 'Aakruti': 57}

# Functions

in-built function.

First, len() is called with the argument "second". The length of the string
"second" is calculated, which is the number 6. Then len() returns the
number 6 and replaces the function call with the value.

In [31]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [32]:
num_letters = len("second")  ## It is equivalent to num_letters = 6

num_letters

6

In [35]:
l = [1, 2, 3, 4, 5]

sum_of_list = sum(l)
sum_of_list

15

Syntax of user defined function
```
def function_name(argument1, argument2):
  statement 1
  statement 2
  ...
  statement n
```

Example of a function

In [36]:
# create a function to print multiplication of two numbers

def multiply(a,b):
    c = a*b
    print(c)
multiply(2,5)

10

In [37]:
help(multiply)

Help on function multiply in module __main__:

multiply(a, b)

In [41]:
## Document the function
def sum_two_numbers(a,b):
  """ this function can add 2 number """
  print(a+b)

sum_two_numbers(3,5)

8

In [42]:
help(sum_two_numbers)

Help on function sum_two_numbers in module __main__:

sum_two_numbers(a, b)
    this function can add 2 number

Function with default arguments

In [3]:
#call the given function twice ;  Once with both the arguments and once with only single arguments 
def welcome_msg(name, msg="Welcome to Python fundamental class!"):
    """
    ...
    """
    print("Hello", name + ', ' + msg)


welcome_msg("Varun")
welcome_msg("Kiara", "How are you")

Hello Varun, Welcome to Python fundamental class!
Hello Kiara, How are you

### Function with keyword argument

In [14]:
def sumOfAllNumbers(*args):
    print(sum(args))

In [15]:
sumOfAllNumbers(12,23,54)

89

In [7]:
#Call the given function using keyword arguments name3="Varun", name2="Karan" and name3="Taslim"

def welcome(**kwargs):
    for key,value in kwargs.items():
        print("welcome "+value+"!!!")

In [8]:
welcome(name1="Varun",name2="Karan",name3="Taslim")

welcome Varun!!!
welcome Karan!!!
welcome Taslim!!!

### Function with variable argument

In [11]:
#Call the given function and print the name of third child : names of child's in order are Varun, Karan and Taslim
def print_name_3_child(*args):
    print("name of 3rd child is",args[2])

In [13]:
print_name_3_child("Hema","Rekha","Jaya","Sushama")

name of 3rd child is Jaya

In [16]:
# Call the given function using variable keyworded argument with first name as "Hari" and lastname as "Khan"
def full_name(**kwargs):
    value = list(kwargs.values())
    print("First name is :",value[0],"and Last name is :",value[1])

In [17]:
full_name(firstName = "Aadesh", lastName = "Lokhande")

First name is : Aadesh and Last name is : Lokhande

### Function with return value

In [ ]:
# calcute the output of following function with input value as 5

### Function with multple return values

In [19]:
## Write a function "calculation" which returns the addition and substraction
def calculation(a, b):
    add = a + b
    sub = a - b
    return add,sub


output1,output2 = calculation(40, 10)
print(output1,output2)

50 30

# Lambda/Anonymous Function

Lambda functions are short anonymous functions that needs no name. They can take any number of arguments but returns only single expression.



```
#Syntax for lambda
lambda arguments : expression
```

### Lambda function Vs Regular function

In [21]:
#Multiply variable by 3 using lambda function

f = lambda x : x * 3
print(f(12))
#Multiply variable by 3 using regular function
def multiplyby3(x):
  return x*3

multiplyby3(10)

36

30

### Lambda function with conditional statement

In [27]:
# Use Lambda function with if-else to find a cube a positive number and return None if negative
cube = lambda x : x**3 if x>0 else None

In [28]:
cube(10)

1000

### Lambda functions within user defined function

In [30]:
#example of lambda function within user defined function

def variable_func(n):
    return lambda x : x * n

multiple_times = variable_func(3)
print(multiple_times)
print(multiple_times(10))

<function variable_func.<locals>.<lambda> at 0x000002125B1D2AC0>
30

# Some important inbuilt high order functions

## Map function



```
#syntax of map function
map(function, iterables) 
```

In [31]:
#Print cubes of all natural numbers till 5 using map function

list(map(lambda x : x**3, range(1,6)))

[1, 8, 27, 64, 125]

### Map with lambda function

In [35]:
#Print cubes from 1 to 5 using map and lambda cube function

pow_ = [3,3,3,3,3]

result = map(lambda n1,n2 : n1**n2, range(1,6),pow_)
print(list(result))

[1, 8, 27, 64, 125]

### Passing Multiple Iterators to map() Using Lambda

## Filter function

Filter function takes function and an iterable sequence and allows us to extract items that satisfy a given condition.



```
Syntax of filter function
filter(function, iterable)
```

### Example of Filter function use

In [37]:
#print even numbers from given list using filter function
nums = [1, 43, 89, 10, 22, 88, 78]

def even(x):
    if x%2==0:
        return x

filter_obj = list(filter(even, nums))
print(filter_obj)

[10, 22, 88, 78]

### Filter function with lambda function

In [38]:
##print even numbers from given list using filter and lambda function
nums = [1, 43, 89, 10, 22, 88, 78]

list(filter(lambda x : x%2==0, nums))

[10, 22, 88, 78]

## Reduce Function

### Reduce with Lambda function

In [40]:
# Sum of first three natural odd integers using reduce function
from functools import reduce 
nums = [1, 3, 5]

sum = reduce(lambda x,y : x + y, nums)
print(sum)

9