# Practice Questions

 **Q.1 Check using given length and breadth if given mesaurements will make a rectangle or square.**

In [ ]:
#Check using given length and breadth if given mesaurements will make a rectangle or square.

These are dimensions of Rectangle

**Q.2 Write a program that prints all the number from 0 to 5 except 3**

**Input**: 0, 1, 2, 3, 4, 5 <br>
**Output**: 0, 1, 2, 4, 5

In [ ]:
#Note : Use 'continue' statement.

0
1
2
4
5

**Q.3 Write the sum of all the natural numbers upto 10**

In [ ]:
#Note : Using while loop

55

**Q.4 Print all the numbers in the given list in the sequence till the number is divisble by 6**

```list_set = [2,4,7,13,19,18,21,23,35,36]```

2 4 7 13 19

**Q.5 Program to print given pattern**



```
*
**
***
****
*****
```

In [2]:
for i in range(1,6):
    for j in range(i):
        print(end="*")
    print()

*
**
***
****
*****

**Q.6 Print the square of all the non-negative whole numbers below 5 in separate lines**


```
Output:
25
16
9
4
1
```

25
16
9
4
1

**Q.7 Print multiplication table till 10 for numbers from 1 to 9 using a nested while and for loop.**

```
1 2 3 4 5 6 7 8 9 10 
2 4 6 8 10 12 14 16 18 20 
3 6 9 12 15 18 21 24 27 30 
4 8 12 16 20 24 28 32 36 40 
5 10 15 20 25 30 35 40 45 50 
6 12 18 24 30 36 42 48 54 60 
7 14 21 28 35 42 49 56 63 70 
8 16 24 32 40 48 56 64 72 80 
9 18 27 36 45 54 63 72 81 90
```

In [4]:
for i in range(1,10):
    for j in range(1,11):
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90

**Q.8 Program to print given pattern**

```
*****
****
***
**
*
```

In [5]:
for i in range(5,0,-1):
    for j in range(i):
        print(end="*")
    print()

*****
****
***
**
*

**Q.9 Program to print given pattern**

```   
    *
   **
  ***
 ****
*****
```

In [6]:
for i in range(1,6):
    for j in range(i,5):
        print(end=" ")
    for j in range(i):
        print(end="*")
    print()

    *
   **
  ***
 ****
*****

    *
   **
  ***
 ****
*****

**Q.10 Write a programme to find the number of words with length of 5 present in the given sentence.**

s = "The Dowry system is evil in society. It has reduced the sacred affair of marriage to a business deal. Brides are treated as a marketable commodity. The parents of the brides are often put under inhuman pressure for a handsome dowry. Sometimes they become paupers to get their daughters married. In many cases, young brides are ruthlessly tortured or pushed to suicide"

Total words with length 4 is 6

**Q.11 Calculate the number of digits and number of characters (it includes letters, digits, special characters including space) in the given string and find the sum of the digits.**

```
lng_str = "jjt8g%ust!58thg8rthgurt5out9t yfohu%$lkfw3uw4twkejlrwe7werhwa1khed7fjfslfjd9dhh!ehhl*ksf8fjlko%o995h@g87strf7fef4sen98%t1jj2(jghj6j$&jshh47@dhkljkaf6a"
```

The number of digits is:
28
The number of characters is:
150
The digits sum is:
174

**Q 12 Calculate the number of digits and number of characters (it includes letters, digits, special characters including space) in the given string and find the sum of the digits.**

Input:  khokho <br>
Output:  <br>
The entered string is symmetrical  <br>
The entered string is not palindrome  <br>

<br>

Input: level  <br>
Output:  <br>
The entered string is not symmetrical  <br>
The entered string is palindrome  <br>

<br>

Input: radar  <br>
Output:  <br>
The entered string is not symmetrical  <br>
The entered string is palindrome  <br>

<br>

Input: amaama  <br>
Output:  <br>
The entered string is symmetrical  <br>
The entered string is palindrome  <br>

level string is not symmertical
level string is palindrome

**Q 13 Write a code to find out the name of the student who have got highest average marsks in homework. Additionally also print the average score**

Suresh
97.5