# Data Structures

Data structures refer to the collection or group of data in a particular structure.

# Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list. We can use lists to hold an ordered sequence of values.

In [1]:
## Creating an empty List
list1 = []
print(list1)
print(type(list1))

[]
<class 'list'>

Lists can contain different types of variable, even in the same list.

In [5]:
# Lists can contain different types of variable, even in the same list.
a = 1 # int
b = 2.5 # float
c = 'three' #str

mix_list = [1,2.5,'three']
print(mix_list)

mix_list_var = [a,b,c]
print(mix_list_var)

[1, 2.5, 'three']
[1, 2.5, 'three']

In [6]:
# create a list named num_list that stores first four numbers 1, 2, 3, 4
list2 = [1,2,3,4]
print(list2)

[1, 2, 3, 4]

In [7]:
# create a list with integer data type 1,2, float data type 3.0, 3.1 and string data type 'first', 'second', 'third'

list3 = [1,2,3.0, 3.1,'first', 'second', 'third']
print(list3)

[1, 2, 3.0, 3.1, 'first', 'second', 'third']

In [8]:
## Finding the length of the list
len(list3)

7

In [10]:
## List can contain more data types. Here list contains the list
new_list = [4,5,-91,[1,2,3],list3]
print(new_list)
print(len(new_list))

[4, 5, -91, [1, 2, 3], [1, 2, 3.0, 3.1, 'first', 'second', 'third']]
5

In [14]:
# change the third element to 10 and print the list again
new_list[2] = 10
print(new_list)

[4, 5, 10, [1, 2, 3], [1, 2, 3.0, 3.1, 'first', 'second', 'third']]

Lists are mutable; their contents can change as more statements are interpreted.

In [15]:
# append number 5 to the list created above
### append

new_list.append(5)
print(new_list)

[4, 5, 10, [1, 2, 3], [1, 2, 3.0, 3.1, 'first', 'second', 'third'], 5]

In the above code two different reference of 2 new variable.

## List Indexing

- Lists can be indexed using square brackets to retrieve the element stored in a particular position.  
- Index value starts from 0 till length of the string minus one 
- Indexing is exactly similar to indexing in strings except that indexing in lists returns the entire item at that position whereas in strings, the character at that position is returned

In [18]:
num_list = [1,2,3,4]

## Access the value using positive index
print(num_list[0])
print(num_list[1])
print(num_list[2])
print(num_list[3])

1
2
3
4

In [19]:
# Can you access 4th index?
num_list = [1,2,3,4]
print(num_list[4])

IndexError: list index out of range

In [20]:
## Access the value using negative index
print(num_list[-1])
print(num_list[-2])
print(num_list[-3])
print(num_list[-4])

4
3
2
1

In [21]:
# Can you access -5th index?
print(num_list[-5])

IndexError: list index out of range

### Accessing a nested list

In [23]:
# Create a Nested List
new_list = [9, 10]
num_nested_list = [1,2,3,4, [5,6,7,8],new_list]
print(num_nested_list)
print(len(num_nested_list))

[1, 2, 3, 4, [5, 6, 7, 8], [9, 10]]
6

In [29]:
# Access the 2nd index of 4th index
num_nested_list[4][2]

7

In [41]:
l = [15,[25,25],[32,91],31,[9,13,[111,222,[17,20]]],[41,22,[8]],[51,[92]],21]
#25
l[1][1]

25

## List  Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [50]:
## Slice the list
num_range = [0,1,2,3,4,5,6,7,8,9]
#print(num_range[0:4])
#print(num_range[4:])
#print(num_range[:5])
#print(num_range[::2])
#print(num_range[:4:2])
#print(num_range[1:5:2])
#print(num_range[::-1])

print(num_range[:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
## Slice the list using negative index
num_range = [0,1,2,3,4,5,6,7,8,9]
#print(num_range[-2:-5:-1])
print(num_range[:-2])  #[0:-2:1]
#print(num_range[-5:])

[0, 1, 2, 3, 4, 5, 6, 7]

### Applying aggregation on list

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [ ]:
# create a list of some strings and then print max and min
string_list = ['bzaa','ds','nc','az','z','klm']

In [ ]:
c = 'R'
print("The ASCII value of '" + c + "' is")

In [ ]:
c = 'r'
print("The ASCII value of '" + c + "' is")

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [29]:
# create a list of integers (string) num_list
num_list = ['1','94','93','1000']
print(min(num_list))
print(max(num_list))

1
94

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

In [30]:
# create a list of integers num_list
num_list = [-30, 1, 102, 94, 3, 1000]
print(min(num_list))
print(max(num_list))

-30
1000

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [ ]:
# create a list names that contians element 'Earth','Air','Fire','Water'
names = ['Earth','Air','Fire','Water']

In [ ]:
# print the longest and smallest word from the list names

### Converting a string into list

A string can be converted into a list by using the list() function.

In [1]:
# convert the string Relevel into list
a = 'Relevel'
list(a)

['R', 'e', 'l', 'e', 'v', 'e', 'l']

List of words? Let's try using .split() which splits a string on the basis of spaces.

In [3]:
# split the string into list
test_string = 'I will now convert this to a list of words'
test_string.split()

['I', 'will', 'now', 'convert', 'this', 'to', 'a', 'list', 'of', 'words']

What about splitting on something else? Like a period? and then try to make it like a normal sentence using .join?

In [7]:
# split the string using .
string_to_split = 'Hi.Can.we.get.rid.of.the.periods.here'
a = string_to_split.split(".")

In [8]:
#Let's join it back with spaces and reassign it to the original name
" ".join(a)

'Hi Can we get rid of the periods here'

In [9]:
#Let's do it as a one-liner
string_to_split = 'Hi.Can.we.get.rid.of.the.periods.here'
" ".join(string_to_split.split("."))

'Hi Can we get rid of the periods here'

By the way, triple quotes are used for multiline comments. Don't you think something similar can be used during new user signups?

## Some common List Methods

| Method Name | Use | Explanation |
| --- | --- | --- |
|insert |	alist.insert(i,item)	| Inserts an item at the ith position in a list |
|pop	|	alist.pop()			 | Removes and returns the last item in a list|
|pop	|	alist.pop(i)			| Removes and returns the ith item in a list|
|sort   |	alist.sort()			| Modifies a list to be sorted|
|reverse|	alist.reverse()	     | Modifies a list to be in reverse order|
|del	|	del alist[i]			| Deletes the item in the ith position|
|index  |	alist.index(item)	   | Returns the index of the first occurrence of item|
|count  |	alist.count(item)	   | Returns the number of occurrences of item|
|Removes|	alist.remove(item)	  | Removes the first occurrence of item|
|append |    alist.append(item)	  | Adds a new item to the end of a list |

## Adding to the List

In [17]:
# create a list named list_one containing numbers 1,2,3,4
l = [1, 2, 3, 4]
l.append(5)
print(l)

[1, 2, 3, 4, 5]

In [18]:
# Pass two value i.e 6, 7 using append
l.append(5)
print(l)

[1, 2, 3, 4, 5, 5]

In [19]:
## Passing single value as a list
l.append([6,7])
print(l)

[1, 2, 3, 4, 5, 5, 6, 7]

### Using extend()

In [23]:
# create a list named list_one containing numbers 1,2,3,4
l = [1, 2, 3, 4]
l.extend([34,53]
print(l)

[1, 2, 3, 4, 23, 34]

In [ ]:
## Passing a single value in extend. It should be any iterable i.e list

### Using insert() method

The `insert()` method inserts the specified value at the specified position.

`list.insert(pos, elmnt)

In [26]:
# Pass 9 to 3rd index
a = [1, 2, 3, 4, 5, 6, 7]
a.insert(3,9)
print(a)

[1, 2, 3, 9, 4, 5, 6, 7]

In [28]:
# Pass 18 to -2nd index
a.insert(-2,18)
print(a)

[1, 2, 3, 9, 4, 5, 18, 6, 7]

## Removing the elements from the list

In [ ]:
# Python program to demonstrate 
# Removal of elements in a List
  
# Creating a List
l = [40, 50, 60, 50, 70, 80, 90, 70, "thirty", 110, 190, 200]
print(l)
  
# Removing elements from List
# using Remove() method

# Remove 50 from the list

# Remove 70 from the list

# Remove thirty from the list

print("\nList after removal of mentioned elements: ")
print(l)

In [ ]:
# Remove 100 from the list

In [ ]:
# Pop the item from the list

print(l)

In [ ]:
# Pop 2nd item from the list

print(l)

In [ ]:
# Delete 1st item from the list

print(l)

In [ ]:
# Delete 2nd and 3rd item from the list

print(l)

In [ ]:
# Clearing all the values of the list

print("\nList after removing all the values: ")
print(l)

In [ ]:
# Delete the entire list

print(l)

## State and identity

- The state referred to by a variable is *different* from its identity.

- To compare *state* use the `==` operator.

- To compare *identity* use the `is` operator.

- When we compare identity we check equality of references.

- When we compare state we check equality of values.

In [32]:
# create a list names that contians element 'Earth','Air','Fire','Water'
names = ['Earth','Air','Fire','Water']

Lets check if the items 'Air' and 'Wind' are present in the list or not

In [33]:
# check if Wind is present in names list
"Wind" in names

False

In [34]:
# check if Air is present in names list
"Air" in names

True

In [ ]:
# create a list X = [1,2] , create a list Y = [1] and append 2 to Y

In [ ]:
# check X and Y using "==" operator

In [ ]:
# check the same with "is" operator

In [ ]:
# if you append 3 to Y, x does not change. check?

## Sorting

In [ ]:
# sort the list names
names.sort()
print(names)

#reverse sort the list names

## Reversing

In [ ]:
# Reverse the list

# Tuples  

- Tuples are another way to combine different values.

- The combined values can be of different types.

- Like lists, they have a well-defined ordering and can be indexed.

- To create a tuple in Python, use round brackets i.e **(** ) instead of square brackets which are used for lists.

### Ways to create tuple object
1. Using brackets like **(** **)** [ *Most common way to create a tuple* ]
2. Using comma seperated values
3. Using `tuple()` in built function

In [ ]:
# create a tuple with elements 0 and 'hello'

In [ ]:
# print first and second element of type, also print type

In [ ]:
# create a tuple with elements 0 and 'hello'
tuple_1 = 0, 'hello'
print(tuple_1)
print(type(tuple_1))

if you want to create a tuple with single value then make sure to pass a comma after first value.

In [ ]:
## Is this tuple?
tuple_2 = 'Relevel'  ## Without comma it considered as a string

In [ ]:
# Create the same above string as a tuple
tuple_2 = 'Relevel'
print(tuple_2)
print(type(tuple_2))

In [ ]:
## Convert a string into tuple
name = "Relevel"

## Tuples are immutable

- Unlike lists, tuples are *immutable*.  Once we have created a tuple we cannot add values to it.

In [ ]:
## Immutable Tuple
## Try converting r to R

company = 'relevel'

company[0] = 'R'

In [ ]:
# try to append a number 23 to the tuple - tuple_1

In [ ]:
# Will this work?
tuple_1[2] = "hi"

In [ ]:
# Delete 2nd item from the tuple

In [ ]:
## Delete the Tuple

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values.

If you want to directly declare a tuple it can be done by using a comma at the end of the data. [MOVE IT PRATICE SESSION]

In [ ]:
# create a tuple using ,

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [ ]:
# multiply the create tuple by 2 and see the results

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [ ]:
# crate a tuple named tuple_3 from a list of numbers 1,2,3

## Slicing  
Slicing is very similar to lists

In [ ]:
tuple_2 = 10, 100, 1000, 10000

# get the second element of tuple_2


# get the second element of tuple_2

In [ ]:
tuple_3 = tuple_2, (20, 200, 2000, 20000)


# get the second element of tuple _3


# get the second element of tuple _3

In [ ]:
tuple_4 = tuple('GOOD MORNING')
# get the first three letters of tuple GOOD MORNING

## Indexing  
Indexing is again very similar to lists

In [ ]:
tuple_3 = 10, 100, 1000, 10000, 100000, 1000000

## Built In Tuple functions  
**count()** function counts the number of specified element that is present in the tuple.  
**index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [ ]:
# create a tuple named example with numbers 0,1,2,3,4,5,1,2,1 and use count and index
example = (0,1,2,3,4,5,1,2,1)

# use count


# use index

# Dictionary

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string. To define a dictionary, equate a variable to { } or dict()

In [ ]:


# initialise using dict()

## Dictionary Operators

In [35]:
# create a dictionary with keys as Maharashtra and Tamil Nadu and values as Mumbai and Chennai
cap = {"maharastra" : "mumbai","tamil nadu" : "Chennai"}
print(cap)

{'maharastra': 'mumbai', 'tamil nadu': 'Chennai'}

## Update Dictionary
1. Using **assignment (=)** operator. Dictionary works somewhat like a list but with an added capability of assigning it's own index style.
2. Using **update()** function

In [ ]:
#create a new key Rajasthan whose capital(value) is Jaipur


#create another key-value i.e 'Punjab' : 'Chandigarh' pair using update()

Dictionary keys are unique and hence we cannot have two similar keys. Values can be the same though.

In [ ]:
# add another key value pair Haryana and Chandigarh

In [ ]:
capitals.update({0 : 1, "Nested_dict" : { "Key1" : "Value 1", "Key2" : 2}})

In [ ]:
capitals['List_Values']= [0, 1, 2, 3, 4]

In [ ]:
print(capitals)

## Accessing the value of a Dictionary

Lets look at some of the operators in Python

[ ] : usage -> myDict[k] ,Returns the value associated with k, otherwise its an error

In [ ]:
#get the capital of Maharashtra

### Accessing the nested values

In [ ]:
# Access Key1 from capitals

In [ ]:
# Access 2 from capitals

## Deleting the value from Dictionary

**del**	operator : usage -> del adict[key] , Removes the entry from the dictionary

In [ ]:
# Delete Punjab from capital

In [ ]:
# Delete 3 from List_Values

In [ ]:
# Pop item in Dict

In [ ]:
# Pop Nested_dict in Dict

In [ ]:
# Deleting entire Dictionary

## Dictionary Methods

**in** operator : usage -> key in adict ,Returns True if key is in the dictionary, False otherwise

In [ ]:
# check if 'One' is present in dict_1


| Method | Use | Explanation |
|----|---|---|
| keys | adict.keys() |Returns the keys of the dictionary in a dict_keys object |
| values	| adict.values() |	Returns the values of the dictionary in a dict_values object |
| items	|adict.items()	|Returns the key-value pairs in a dict_items object|
| get	|adict.get(k)	|Returns the value associated with k, None otherwise|
| get	|adict.get(k,alt)	|Returns the value associated with k, alt otherwise|

**values( )** function returns a list with all the assigned values in the dictionary./

In [ ]:
# print the capitals and get the data type of those values
capitals = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}

In [ ]:
# to convert to a list use list()
capitals_list = list(capitals.values())

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [ ]:
# print the keys of the dictionary and also print the data type

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple.

In [ ]:
# print the items of the dictionary


#convert to list of tuples

**get()** returns a value for the given key. If key is not available then returns default value None.

In [ ]:
# get the value of Tamil Nadu

In [ ]:
# get the value of Andhra Pradesh

In [ ]:
capitals.get("Andhra Pradesh", "Amaravati")

# Sets  
Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [ ]:
# create a set named set_1 and initialise it by set()

In [ ]:
# create a set named set_1 and initialise it by set([1,2,2,3,3,4])

In [ ]:
# Different types of sets in Python
# set of integers

# set of mixed datatypes

### Advantages of Python Sets

Because sets cannot have multiple occurrences of the same element, it makes it highly useful to remove duplicate values from a list or tuple efficiently and perform everyday math operations like unions and intersections.

In [ ]:
## Remove the duplicates from list
l = [0, 2, 4, 2, 3, 5, 4, 1, 5]

In [ ]:
# Find the set of above string
name = "Relevel"

In [ ]:
# Find the set of above string
name = "ReLevel"

## Set Methods - Built in set functions

| Method Name | Use | Explanation |
| --- | --- | --- |
| union | aset.union(otherset) | Returns a new set with all elements from both sets |
| intersection	| aset.intersection(otherset) |	Returns a new set with only those elements common to both sets |
|difference	|aset.difference(otherset)	|Returns a new set with all items from first set not in second|
|issubset|	aset.issubset(otherset)|		Asks whether all elements of one set are in the other|
|add|	aset.add(item)|	Adds item to the set|
|remove|	aset.remove(item)|	Removes item from the set|
|pop|	aset.pop()|	Removes an arbitrary element from the set|
|clear|	aset.clear()|	Removes all elements from the set|

In [ ]:
set_a = set([1,2,3])
set_b = set([2,3,4,5])

- Union: $X \cup Y$:  
**union( )** function returns a set which contains all the elements of both the sets without repetition.

In [ ]:
# create a union of set_a and set_b

In [ ]:
# Union
X = {1, 2, 3}
Y = {4, 5, 6}

- Intersection: $X \cap Y$:  
**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [ ]:
# create an intersection of set_a and set_b

In [ ]:
# create two sets X and Y and {1,2,3,4} and {3,4,5}
X = {1, 2, 3, 4}
Y = {3, 4, 5}

- Difference $X - Y$:  
**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [ ]:
# find the difference b/w those sets

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [ ]:
# Get the symmetric_difference of X and Y

## List to Set, Set to Tuple, and Tuple to List and Vice-Versa Conversion

In [ ]:
# List to Set

# Initialise list with duplicates like ['A','B','A','C','D','C','C','B']
X = ['A','B','A','C','D','C','C','B']

In [ ]:
# Set to List

#Convert it to a list by wrapping it back to a list

In [ ]:
# List to Tuple

l_1 = [10,100,1000]
t_1 = l_1

print(l_1, type(l_1))
print(t_1, type(t_1))

In [ ]:
# Tuple to List

t_2 = (10, 100, 1000)
l_2 = t_2

print(t_2, type(t_2))
print(l_2, type(l_2))

In [ ]:
# Set to Tuple

s_1 = {1, 2, 3, 4}
t_1 = s_1

print(s_1, type(s_1))
print(t_1, type(t_1))

In [ ]:
# Tuple to Set

t_1 = (1, 2, 3, 4)
s_1 = t_1

print(t_1, type(t_1))
print(s_1, type(s_1))