# Decision Making
Decision making in python is done using conditional statements to control the flow of execution of program

## if statement
Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, if false it will move to next block of code.

```
#syntax of if statement
if test expression:
   statement 1
   ....
   statement n
```

In [ ]:
a = 5

if a < 10:
    print(a,"is Smaller")
else:
    print(a,"is Bigger")

In [ ]:
## Write a Conditional Statement with True in if statement

If statement gets executed

In [ ]:
## Write a Conditional Statement with False in if statement

Else statement gets executed

In [ ]:
## Write a Conditional Statement with 1 in if statement

If statement gets executed

In [ ]:
## Write a Conditional Statement with 0 in if statement

Else statement gets executed

In [ ]:
## Write a Conditional Statement with -1 in if statement

If statement gets executed

In [ ]:
## Write a Conditional Statement to check if 60 is greater than 50

If statement gets executed as 60 is greater than 50

In [ ]:
# check if variable a which is of integer 60 is greater than variable b which is of 50

a is greater than b

In [ ]:
# check if variable a which is of integer 60 is greater than variable b which is of 150

In [ ]:
## From the list if 10 is part of it
l = [10, 20, 30, 'Relevel']

List has 10 value

In [ ]:
## Check if 'Maharashtra' is in the Dict
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}

Dict contains the Maharashtra State

## If else statement

Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, if false it will execute else block of statement.



```
#syntax of if else statement
if test expression:
  condition 1
  ....
  condition n
else:
  condition 1
  ....
  condition n
```

In [ ]:
# Check if the price is less than 50
price = 100

price is more than or equal to 50

In [ ]:
## From the list if 10 is part of it else print that it does not exist
l = [10, 20, 30, 'Relevel']

List does not have 100 value

In [ ]:
## Check if 'Maharashtra' is in the Dict else print that it does not exist
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}

Could not find Mumbai in the dict keys

## Nested if else Statement

Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, othwerwise it will move to next block of elif statements till one of the elif condition is met.



```
#syntax of nested if-else statement
if test expression:
  condition 1
  ....
  condition n
elif:
  condition 1
  ....
elif:
  condition 1
  ...
else:
  condition 1
  ...
```

In [ ]:
# Find that given integer is positive, negative or Zero.
number = -2

number is negative

In [ ]:
## From the list if 100, 'relevel', 'Relevel' is part of it else print that it does not exist
l = [10, 20, 30, 'Relevel']

List has Relevel value

```
if ( test condition 1):
    # If test condition 1 is TRUE, then it checks for test condition 2
    if ( test condition 2):
         # If test condition 2 is TRUE, then these true lines executed
         Test condition 2 True statements
    else:
         # If test condition 2 is FALSE, then these false lines executed
         Test condition 2 False statements
else:
    # If test condition 1 is FALSE, then these lines executed
    Test condition 1 False lines
```

In [ ]:
# Example for Python Nested If

age = int(input(" Please Enter Your Age Here:  "))

 Please Enter Your Age Here:  78
 You are too old to work as per the Government rules
 Please Collect your pension!

# Loops and Iterations
Loops statements help to iterate over a block of code using a condition or iterable object.

## For Loop
For loop is used to iterate over an iterable object like list, string, tuple, sets etc.



```
#syntax of for loop
for [item] in [iterable object]:
  statement 1
  ...
  statement n
```

In [ ]:
## Sum all the values of the list

l = [5, 1, 7, 3]

# Method 1

Sum is  16

In [ ]:
## Sum all the values of the list using For Loop

l = [5, 1, 7, 3]
sum = 0

Sum is  16

In [ ]:
#print all the letters one by one in the word Relevel

R
e
l
e
v
e
l

In [ ]:
# Iterate all the values of the states from the Dict
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}

Maharashtra
Tamil Nadu
Rajasthan
Punjab
Haryana

In [ ]:
# Iterate all the values of the states and cities from the Dict

('Maharashtra', 'Mumbai')
('Tamil Nadu', 'Chennai')
('Rajasthan', 'Jaipur')
('Punjab', 'Chandigarh')
('Haryana', 'Chandigarh')

In [ ]:
# Iterate all the values of the states and cities from the Dict. Extract Key and Value seperately

Key is Maharashtra , Value is Mumbai
Key is Tamil Nadu , Value is Chennai
Key is Rajasthan , Value is Jaipur
Key is Punjab , Value is Chandigarh
Key is Haryana , Value is Chandigarh

In [ ]:
## Check if Nest_dict has a key "Key_1"
Dummy_Dict = {'Key1': 'Value 1', 0: 1, 'Nested_dict': {'Key_1': 'V1', 'Key2': 2}, 'List_Values': [0, 1, 2, 3, 4]}

Nested_dict {'Key_1': 'V1', 'Key2': 2}
Nest_dict has a key 'Key_1'

In [ ]:
# Iterate all the values of the tuple
t = (10, 20, 30, 'Relevel')

10
20
30
Relevel

In [ ]:
# Print the value from 1 to 10 using range function in for loop

1
2
3
4
5
6
7
8
9

In [ ]:
## Iterate following list as a set variable
l = [1,2,2,3,3,4]
set_var = l

1
2
3
4

## While Loop
While loop will execute the given block of code till the entered test condition is true



```
# syntax for while loop
While [condition true]:
      statement 1
      ...
      statement n
```

In [ ]:
# print all integer from 1 to 5

1
2
3
4
5

Write a program to sum natural numbers up to n. <br>
```sum = 1+2+3+...+n```

In [ ]:
# Write a program to sum natural numbers up to n.
# sum = 1+2+3+...+n

n = 10

# initialize sum and counter
sum = 0
i = 1

The sum is 55

## Nested loops

Multiple For loops, while loops or combination of for loop and while loops are allowed to used in Python



```
#syntax for sample nested for loops
# outer for loop
for [item] in [iterable object]: 
   # inner for loop
   for [item] in [iterable object]:
       block of code for inner for loop
   block of code for outer for loop
```

In [ ]:
# print the multiplication table till 5 for each item in elements list
number = [1,2,3,4,5]
elements = [5,10]

*****multiply  5  with integer from 1 to 5
5
10
15
20
25
*****multiply  10  with integer from 1 to 5
10
20
30
40
50

In [ ]:
# print the multiplication table till 5 for each item in elements list
number = [1,2,3,4,5]
elements = [5,10]

*****multiply  5  with integer from 1 to 5
5
20
15
30
25
*****multiply  10  with integer from 1 to 5
10
40
30
60
50

# Loop control Statement
Loop control statements are used to skip over an iteration or terminate the execution of the Loop without iteration over the whole sequence.

## Continue Statement
continue keyword ends and rejects all the remaining statements for the current iteration and moves to the next iteration in the loop.

In [ ]:
# Print all the letters in word Relevel except letter "l"

Current Letter : R
Current Letter : e
Current Letter : e
Current Letter : v
Current Letter : e

## Pass statement
Pass statement acts as a null statement and used as a placeholder for peice of code to be written in future

In [ ]:
# print all the letters in the word Relevel except letter "l" using pass statement
word = "Relevel"

Current Letter : R
Current Letter : e
Current Letter : e
Current Letter : v
Current Letter : e

## Break Statement
Break statement helps to exit the loop from the current running iteration

In [ ]:
#Display numbers in given list before number 10
seq = [2,4,20, 14, 10, 29, 33,7]