**Question-1:**

You have to find and print the smallest element of the list given as input. 

----------------------------------------------------------------------
Input:
A non-empty list of integers.

Output:
The smallest integer of the input list.

----------------------------------------------------------------------
Sample input:
[2, -3, 0, 7, 21]

Sample output:
-3

In [6]:
#input have been taken for you here
import ast 
input_str = input()
list = ast.literal_eval(input_str)

print(min(list))

[2, -3, 0, 7, 21]
-3

In [2]:
import ast 
input_str = input()
list = ast.literal_eval(input_str)

min = list[0]
for i in list:
    if(min>i):
        min = i
        
print(min)

[12,23,54,6,54]
54

**Question-2:**

Finding the average of the data and comparing it with other values is often encountered while analysing the data. Here you will do the same thing. The data will be provided to you in a list. You will also be given a number check.  You will return whether the number check is above average or no.

----------------------------------------------------------------------
Input:
A list with two elements:
The first element will be the list of data of integers and
The second element will be an integer check.

Output:
True if check is above average and False otherwise

----------------------------------------------------------------------
Sample input:
[ [2,4,6,8,10],  4]

Sample output:
False

----------------------------------------------------------------------
Sample input:
[ [2,4,6,8,-10],  4]

Sample output:
True

In [18]:
#Take input here
import ast 
input_str = input()
list1 = ast.literal_eval(input_str)

a = list1[0]
b = list1[1]

var = sum(a) / len(a)

if var < b:
    print(True)
else:
    print(False)

 [ [2,4,6,8,-10], 4]

TypeError: 'int' object is not callable

In [17]:
#Take input here
import ast 
input_str = input()
list1 = ast.literal_eval(input_str)

a = list1[0]
b = list1[1]
totalsum = 0

for i in a:
    totalsum = totalsum + i
var = totalsum / b

if var < b:
    print(True)
else:
    print(False)

[ [2,4,6,8,10], 4]
False

**Question-3:**

Write a code to remove duplicate elements from a list


----------------------------------------------------------------------

Input:

[12, 36, 56, 36, 36, 50, 56, 12] 


Output:

[12, 36, 56, 50, 12]

In [1]:
import ast 
input_str = input()
list1 = ast.literal_eval(input_str)

print(list(set(list1)))

[56, 50, 12, 36]

In [ ]:
import ast 
input_str = input()
list1 = ast.literal_eval(input_str)

uniqueList = []
for i in list1:
    if i not in uniqueList:
        uniqueList.append(i)
       
    
print(uniqueList)

**Question-4:**

You are planning to go to your friend's wedding and you have long events all month, lasting at least a few days. You have the start and end dates of events and your task is to find out events overlapping with the wedding date.

The code for taking input has already been written for you, please don't modify that, but do read and try to understand the way input has been taken. You will be asked to take input on your own for most of the problems here onwards. Taking data in a suitable format is an important skill for a Data Scientist.

----------------------------------------------------------------------
Input:
The input will contain a list of lists where each sub-list has only two elements representing the start and end date of an event, the start date will be less than or equal to the end date. The next line of input will have a wedding date. 

Output:
The output should have the number of events overlapping with the wedding date.

----------------------------------------------------------------------
Sample input:

[ [29,31], [23,26], [24,25] ]

24

Sample output:
2

Explanation:
There are three events in the month.
Event 1= from date 29 to 31
Event 2= from date 23 to 26
Event 3= from date 24 to 25
Wedding is on 24. This means it will clash with Event 3 and Event 2, that is two events. The output is therefore 2.

----------------------------------------------------------------------
Sample input:

[ [1, 4], [7, 10], [8, 8], [14, 23] ]

26

Sample output:
0

**Question-5:**

You will be given two positive integers m and n. You have to make a list of lists (which can be visualised as a matrix) of size m*n, that is m sublists (rows), with each sublists having n integers (columns). The matrix should be such that it should have 1 on the border and 0 everywhere else. See sample input and output for more clarification.

----------------------------------------------------------------------
Input:
Two integers separated by a space

Output:
A list of lists of size m*n printed like matrix as shown in the sample output.

----------------------------------------------------------------------
Sample input:
4,5

Sample output:

[1, 1, 1, 1, 1]

[1, 0, 0, 0, 1]

[1, 0, 0, 0, 1]

[1, 1, 1, 1, 1]

----------------------------------------------------------------------
Sample input:
3,3

Sample output:

[1, 1, 1]

[1, 0, 1]

[1, 1, 1]

----------------------------------------------------------------------
Sample input:
3,2

Sample output:

[1, 1]

[1, 1]

[1, 1]

**Question-6:**

Write a Python program to divide a given list into chunks of size k.

The number of elements in the list need not to be divisible by k.
For example, if you want to divide the list [1,2,3,4,5,6,7] into chunk size k=4, then the first chunk will be [1,2,3,4] and the second one will have [5,6,7]. i.e. the last chunk need not have k elements.
The input will have two lines, the first line would have the list and the second line would have the value of k.(the code for taking input has already been written, you should not change that)
The final output should have the list chunks in different lines.

Sample Input:

[[1,2,3,4,5,6,7,8,9], 3]

Sample Output:

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

**Question - 7**

Given a list of numbers, find the second largest number in the list.

Note: There might be repeated numbers in the list. If there is only one number present in the list, return 'not present'.

Examples:

Input 1:

[7, 2, 0, 9, -1, 8]

Output 1:

8

Input 2:

[3, 1, 4, 4, 5, 5, 5, 0, 2, 2]

Output 2:

4

Input 2:

[6, 6, 6, 6, 6]

Output 2:

not present

**Question - 8**

Given a positive integer n. Print the pattern as shown in sample outputs.

A code has already been provided. You have to understand the logic of the code on your own and try and make changes to the code so that it gives correct output.



Input: A positive integer n

1<= n <=9



Output: Pattern as shown in examples below





Sample input:

4



Sample output:

4444444

4333334

4322234

4321234

4322234

4333334

4444444



Sample input:

5

**Question-9**

Write a code to get the first element from each nested list of a list

Input:

[[15, 78, 4],['C#',80,7],['Go','Rust','C++'],['Python',12]]


Output:

[15, 'C#', 'Go', 'Python']

**Question-10:**

Return a set of elements present in Set A or B, but not both


Input: 

setA = {10, 20, 30, 40, 50}

setB = {30, 40, 50, 60, 70}


Ouput:

{20, 70, 10, 60}