# List Comprehension

List comprehension allows shorter way of writing a for loop



```
#Syntax for list comprehension
newList = [ expression(element) for element in oldList ] 
```

In [ ]:
## Iterate from 0 to 14 using for and range function

In [ ]:
## Iterate from 0 to 14 using list comprehension

List comprehension allows shorter way of writing a for loop



```
#Syntax for list comprehension
newList = [ expression(element) for element in oldList if condition ] 
```

### Conditionals in list comprehension

In [ ]:
## Iterate from 0 to 14 using for and range function. Print only odd numbers

In [ ]:
#Print all odd natural numbers till 13 using conditional list comprehension

### Performance comparison : List comprehension Vs For loop

List comprehension is more efficient than for loop in terms of time and space.

In [ ]:
#comparison of time difference between execution of list comprehension and for loop
import time
start_time = time.time()
for_list = []
for i in range(1000000):
    for_list.append(i*i)
print("time of execution using for loop :  %s seconds" % (time.time() - start_time))

current_time = time.time()
comp_list = [i*i for i in range(1000000)]
print("time of execution using list comprehension :  %s seconds" % (time.time() - current_time))

We can see from above example that list comprehension took almost half time for execution as compared to for loop for performing the same **task**

# Dict Comprehension

In [ ]:
#item price in dollars
dollar_price = {'mic': 11.02, 'speaker': 12.5, 'headphones': 22.5}

dollar_to_inr = 79.43

In [ ]:
# Item price in inr for all the dict items using For loop

In [ ]:
# Item price in inr for all the dict items using Dict Comprehension

### Conditionals in Dict Comprehension

In [ ]:
## From the below Dict filter the names whoes age is more than 40
citi_age = {'Ramesh ': 38, 'Veer': 48, 'Aakruti': 57, 'Meneka': 33}

# Functions

in-built function.

First, len() is called with the argument "second". The length of the string
"second" is calculated, which is the number 6. Then len() returns the
number 6 and replaces the function call with the value.

In [ ]:
help(len)

In [ ]:
num_letters = len("second")  ## It is equivalent to num_letters = 6

num_letters

In [ ]:
l = [1, 2, 3, 4, 5]

sum_of_list = l

Syntax of user defined function
```
def function_name(argument1, argument2):
  statement 1
  statement 2
  ...
  statement n
```

Example of a function

In [ ]:
# create a function to print multiplication of two numbers

In [ ]:
help()

In [ ]:
## Document the function
def sum_two_numbers(a,b):
  """ ... """
  print(a+b)

sum_two_numbers(3,5)

In [ ]:
help(sum_two_numbers)

Function with default arguments

In [ ]:
#call the given function twice ;  Once with both the arguments and once with only single arguments 
def welcome_msg(name, msg="Welcome to Python fundamental class!"):
    """
    ...
    """
    print("Hello", name + ', ' + msg)


welcome_msg("Varun")
welcome_msg("Kiara", "How are you")

### Function with keyword argument

In [ ]:
#Call the given function using keyword arguments name3="Varun", name2="Karan" and name3="Taslim"

### Function with variable argument

In [ ]:
#Call the given function and print the name of third child : names of child's in order are Varun, Karan and Taslim

In [ ]:
# Call the given function using variable keyworded argument with first name as "Hari" and lastname as "Khan"

### Function with return value

In [ ]:
# calcute the output of following function with input value as 5

### Function with multple return values

In [ ]:
## Write a function "calculation" which returns the addition and substraction
def calculation(a, b):
    pass

# get result in tuple format
res = calculation(40, 10)
print(type(res))
print(res)

# Lambda/Anonymous Function

Lambda functions are short anonymous functions that needs no name. They can take any number of arguments but returns only single expression.



```
#Syntax for lambda
lambda arguments : expression
```

### Lambda function Vs Regular function

In [ ]:
#Multiply variable by 3 using lambda function


#Multiply variable by 3 using regular function
def multiplyby3(x):
  return x*3

### Lambda function with conditional statement

In [ ]:
# Use Lambda function with if-else to find a cube a positive number and return None if negative

### Lambda functions within user defined function

In [ ]:
#example of lambda function within user defined function

# Some important inbuilt high order functions

## Map function



```
#syntax of map function
map(function, iterables) 
```

In [ ]:
#Print cubes of all natural numbers till 5 using map function

### Map with lambda function

In [ ]:
#Print cubes from 1 to 5 using map and lambda cube function

### Passing Multiple Iterators to map() Using Lambda

## Filter function

Filter function takes function and an iterable sequence and allows us to extract items that satisfy a given condition.



```
Syntax of filter function
filter(function, iterable)
```

### Example of Filter function use

In [ ]:
#print even numbers from given list using filter function
nums = [1, 43, 89, 10, 22, 88, 78]

### Filter function with lambda function

In [ ]:
##print even numbers from given list using filter and lambda function
nums = [1, 43, 89, 10, 22, 88, 78]

## Reduce Function

### Reduce with Lambda function

In [ ]:
# Sum of first three natural odd integers using reduce function
from functools import reduce 
nums = [1, 3, 5]